#!/bin/bash

set -e

echo "Start syslog..."
supervisorctl start syslog

echo "Start clamd..."
supervisorctl start clamd
sleep 2

echo "Start freshclam..."
supervisorctl start freshclam
sleep 2

{% if amavis_enable|default(False) %}
echo "Start amavis..."
supervisorctl start amavis
sleep 2
{% endif %}

{% if postgrey_enable|default(False) %}
echo "Start postgrey..."
supervisorctl start postgrey
sleep 1
{% endif %}

echo "Start fail2ban..."
supervisorctl start fail2ban
sleep 1

echo "Start postfix..."
supervisorctl start postfix
sleep 2

echo "Start cron..."
supervisorctl start cron


