[unix_http_server]
file=/var/run/supervisor.sock
chmod=0700

[inet_http_server]
port = {{supervisor_http_host|default('127.0.0.1:9001')}}
;username = admin
;password = admin

[supervisord]
logfile=/var/log/supervisor/supervisord.log
logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10           ; (num of main logfile rotation backups;default 10)
loglevel=info
pidfile=/var/run/supervisord.pid
nodaemon=true               ; (start in foreground if true;default false)
minfds=1024                  ; (min. avail startup file descriptors;default 1024)
minprocs=200                 ; (min. avail process descriptors;default 200)

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock

{% if mongodb_enable|default(False) %}
[program:mongodb]
command=mongod --dbpath /var/lib/mongodb --bind_ip 127.0.0.1 --nounixsocket --noauth --wiredTigerDirectoryForIndexes --directoryperdb --syslog
priority=1
autostart=false
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log
{% endif %}

{% if redis_enable|default(False) %}
[program:redis]
command=redis-server /etc/redis/redis.conf
priority=1
autostart=false
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log
{% endif %}

[program:freshclam]
command=/usr/bin/freshclam --quiet -c 2 --enable-stats
priority=2
autostart=false
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log

[program:clamd]
command=/usr/sbin/clamd -c /etc/clamav/clamd.conf
priority=3
autostart=false
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log

;[program:spamd]
;command=spamd -u debian-spamd -g debian-spamd --create-prefs --max-children 5 --helper-home-dir=/var/lib/amavis/.spamassassin -i 127.0.0.1:783 --virtual-config-dir=/var/lib/users/spamassassin/%d
;priority=2
;autostart=false
;autorestart=true
;redirect_stderr=true
;stdout_logfile=/var/log/supervisor/%(program_name)s.log

{% if amavis_enable|default(False) %}
[program:amavis]
command=/usr/sbin/amavisd-new foreground
priority=5
autostart=false
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log
{% endif %}

{% if postgrey_enable|default(False) %}
[program:postgrey]
command=/usr/sbin/postgrey -v
priority=5
autostart=false
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log
{% endif %}

[program:postfix]
command=/usr/local/bin/postfix-start
priority=10
autostart=false
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log

[program:start]
command=/usr/local/bin/start-services
priority=999
startretries=1
autostart=true
autorestart=false
redirect_stderr=true
stdout_logfile=/var/log/supervisor/%(program_name)s.log

