{% if amavis_output_enable|default(False) %}
$CLIENT = 'output';
$MYHOME_CL = "$MYHOME/config/policies/$CLIENT";

$policy_bank{$CLIENT} = {

   originating                  => 1,
   allow_disclaimers            => 1,
   os_fingerprint_method        => undef,

   local_domains_maps           => [read_hash("$MYHOME_CL/local_domains")],
   mynetworks_maps              => [read_hash("$MYHOME_CL/mynetworks")],

   forward_method               => '{{amavis_output_forward_method}}',
   notify_method                => '{{amavis_output_forward_method}}',

   bypass_spam_checks_maps      => [1],
   bypass_banned_checks_maps    => [1],
   bypass_virus_checks_maps     => [1],
   bypass_header_checks_maps    => [1],

   final_virus_destiny          => D_PASS,
   final_banned_destiny         => D_PASS,
   final_spam_destiny           => D_PASS,
   final_bad_header_destiny     => D_PASS,

   newvirus_admin_maps          => undef,
   virus_admin_maps             => undef,
   banned_admin_maps            => undef,
   spam_admin_maps              => undef,

   virus_quarantine_to_maps     => undef,
   spam_quarantine_to_maps      => undef,
   banned_quarantine_to_maps    => undef,

   spam_modifies_subj_maps      => 0,

   warnbannedsender             => 0,
   warnbadhsender               => 0,
   warn_offsite                 => 0,
   warnbannedrecip_maps         => 0,
   warnvirusrecip_maps          => 0,

};
{% endif %}