{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}
{% block title %}RadicalSpam Admin{% endblock %}

{% block html_attribs %} xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"{% endblock html_attribs %}

{%- block metas %}
{{super()}}
{%- endblock metas %}

{% block styles %}
    {% assets "common_css" %}
	    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
{% endblock %}

{%- block head %}
	{{ super() }}
    <link href="{{ url_for('static', filename="style-light.css") }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<div id="content" class="container-fluid">
        
        {% block custom_navbar %}
        {% include "include/navbar.html" with context %}
        {% endblock %}
        
        <div class="row">
            <div id="site_menu_left" {% block menu_left_attrs %}class="col-md-2"{% endblock %} style="display: none;">
                {% block menu_left %}&nbsp;{% endblock %}
            </div>
            <div id="site_content" {% block site_content_attrs %}class="col-md-12"{% endblock %}>
	            <span id="spinner" class="spinner-container"></span>
	            {% block breadcrumb %}{% endblock %}
	            {% block page %}{% endblock %}
            </div>
	    </div>
	    {% include "include/messages.html" with context %}
	</div>     
{% endblock content %}

{% block scripts %}
    {% assets "common_js" %}
	    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {#
    {{ moment.include_moment(local_js=url_for('static', filename="local/moment.min.js")) }}
    {{ moment.lang("fr") }}
    #}
    <script type="text/javascript">
    	moment.locale('fr');
    </script>
	<script type="text/javascript" src="{{ url_for('static', filename="script.js") }}"></script>
       
<script type="text/javascript">

//var $table;

$(document).ajaxStart(function() {
    spinnerShow();
}).ajaxStop(function() {
    spinnerHide();
}).ajaxError(function() {
    spinnerHide();
});

$(document).ready(function() {
    
    $('.human-number').each(function(i, item){
        var value = $(item).text();
         $(item).text(Humanize.formatNumber(value));
    });

    $('.human-size-mb').each(function(i, item){
        var value = $(item).text();
         $(item).text(Humanize.fileSize(value));
    });
        
});
</script>

{% block add_scripts %}
{% endblock %}

{% block last_scripts %}
{% endblock %}

{% endblock %}

