{% extends "base_form.html" %}

{% block page %}

<div class="container-fluid">

{#
<pre>
    {{ services|pprint}}
</pre>
#}
	<div class="panel panel-default col-md-8">
		<div class="panel-header">
			<h3>{{_("Etat des services")}}</h3>
		</div>
   		<table id="services" class="table table-condensed table-bordered">
   			<thead>
   				<th>Service</th>
   				<th>Status</th>
   				<th>Event Date</th>
   				<th>&nbsp;</th>
   			</thead>
   			<tbody>
   				{% for service, state in services.items() %}
   				<tr>
   					<td class="col-md-1">{{service}}</td>
   					<td class="col-md-1">
   						{% if state.statename == "RUNNING" %}
   						<button type="button" class="btn btn-success btn-xs btn-block">UP</button>
   						{% elif state.statename == "STOPPED" %}
						<button type="button" class="btn btn-danger btn-xs btn-block">DOWN</button>
   						{% else %}
						<button type="button" class="btn btn-warning btn-xs btn-block">UNKNOW</button>
   						{% endif %}
   					</td>
   					<td class="col-md-1">
   					    {% if state.statename == "RUNNING" %}
   					        {{moment(state.start).format('LLL')}}
                        {% elif state.statename == "STOPPED" %}
                            {{moment(state.stop).format('LLL')}}
   					    {% else %}
   					        &nbsp;
                        {% endif %}
   					</td>
   					<td class="col-md-1">
   					    {% set disable_if_start="disabled='disabled'" if state.statename == "RUNNING" else '' %}
                        {% set disable_if_stop="disabled='disabled'" if state.statename == "STOPPED" else '' %}
   						{#% if state.statename == "RUNNING" %#}   						
                        <a class="btn btn-primary btn-xs" {{disable_if_start}} href="{{ url_for('.services-start', service=service) }}">Start</a>
   						<a class="btn btn-primary btn-xs" {{disable_if_stop}} href="{{ url_for('.services-stop', service=service) }}">Stop</a>
                        <a class="btn btn-primary btn-xs" {{disable_if_stop}} href="{{ url_for('.services-restart', service=service) }}">Restart</a>
   						<a class="btn btn-primary btn-xs" {{disable_if_stop}} href="{{ url_for('.services-reload', service=service) }}">Reload</a>
   						{#
   						{% elif state.statename == "STOPPED" %}
   						<a class="btn btn-primary btn-xs btn-block" href="{{ url_for('.services-start', service=service) }}">Start</a>
   						{% else %}
   						&nbsp;
   						{% endif %}
   						#}
   					</td>
				</tr>   				
   				{% endfor %}
   			</tbody>
   		</table>
	</div>
</div>

{% endblock page %}

