<li>
    <a href="{{ url_for(".logs-search") }}"><i class="fa fa-database fa-fw"></i> {{ _('Logs') }}</a>
</li>
<li>
    <a href="{{ url_for(".services-status") }}"><i class="fa fa-database fa-fw"></i> {{ _('Services') }}</a>
</li>

{#
<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
    	<i class="fa fa-settings fa-fw"></i> Logs <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<a href="{{ url_for(".logs-search") }}"><i class="fa fa-database fa-fw"></i> {{ _('Recherche') }}</a>
	</ul>
</li>
#}
		        
		        