lock_method 		flock

dns_available           yes

skip_rbl_checks         0

required_score          {{sa_required_score|default(8.0)}}

# rewrite_header Subject *****SPAM*****

#   Save spam messages as a message/rfc822 MIME attachment instead of
#   modifying the original message (0: off, 2: use text/plain instead)
# report_safe 1

#   Use Bayesian classifier (default: 1)
use_bayes 1

#   Bayesian classifier auto-learning (default: 1)
bayes_auto_learn 1

use_bayes_rules 1

# bayes_ignore_header X-Bogosity
# bayes_ignore_header X-Spam-Flag
# bayes_ignore_header X-Spam-Status

bayes_ignore_header     X-Bogosity
bayes_ignore_header     X-Spam-Status
bayes_ignore_header     X-Spam-Flag
bayes_ignore_header     X-Envelope-To-Blocked
bayes_ignore_header     X-Quarantine-ID
bayes_ignore_header     X-Amavis-Alert
bayes_ignore_header     X-Amavis-OS-Fingerprint
bayes_ignore_header     X-Amavis-PolicyBank
bayes_ignore_header     X-Virus-Scanned

{% if sa_redis_enable %}
bayes_store_module  Mail::SpamAssassin::BayesStore::Redis
bayes_sql_dsn       server={{sa_redis_server|default('127.0.0.1:6379')}};database={{sa_redis_db|default(1)}}
{% endif %}
bayes_token_ttl 21d
bayes_seen_ttl   8d
bayes_auto_expire 1

# normalize_charset 1

ifplugin Mail::SpamAssassin::Plugin::Shortcircuit
# shortcircuit USER_IN_WHITELIST       on
# shortcircuit USER_IN_DEF_WHITELIST   on
# shortcircuit USER_IN_ALL_SPAM_TO     on
# shortcircuit SUBJECT_IN_WHITELIST    on
# shortcircuit USER_IN_BLACKLIST       on
# shortcircuit USER_IN_BLACKLIST_TO    on
# shortcircuit SUBJECT_IN_BLACKLIST    on
# shortcircuit ALL_TRUSTED             on
# shortcircuit BAYES_99                spam
# shortcircuit BAYES_00                ham
endif # Mail::SpamAssassin::Plugin::Shortcircuit

ifplugin Mail::SpamAssassin::Plugin::Razor2
use_razor2              1
razor_timeout           8
endif # Mail::SpamAssassin::Plugin::Razor2

ifplugin Mail::SpamAssassin::Plugin::Pyzor
use_pyzor               1
pyzor_max				5
pyzor_timeout 			3.5
pyzor_path				/usr/bin/pyzor
endif # Mail::SpamAssassin::Plugin::Pyzor

# DCC
ifplugin Mail::SpamAssassin::Plugin::DCC
use_dcc                 1
dcc_path                /usr/bin/dccproc
dcc_home                /var/lib/dcc/var/dcc
dcc_options             -h /var/lib/dcc/var/dcc
dcc_timeout             8
endif # Mail::SpamAssassin::Plugin::DCC

{% if sa_ok_languages %}
ifplugin Mail::SpamAssassin::Plugin::TextCat
ok_languages            {{sa_ok_languages|join(' ')}}
endif # Mail::SpamAssassin::Plugin::TextCat
{% endif %}

ifplugin Mail::SpamAssassin::Plugin::SPF
do_not_use_mail_spf_query       1
endif # Mail::SpamAssassin::Plugin::SPF

